/*IMPORTS */
:root {
  --primary-color: #821331;
  --secundary-color: #67142A;
  --text-color-inverse: white;
  --text-color: black;
  --navbar-shallow-color: #67142A;
  --menu-mobile-background-color: #2F1313;
  --bg-color: #F2CAD5;
  --primary-text-color: #222;
  --secondary-text-color: #444;
  --calendar-color: #f7f7f756; }

html {
  min-height: 100%;
  overflow-y: scroll; }

body {
  height: 100%;
  font-family: 'Karla', sans-serif;
  font-weight: 200;
  background-color: var(--theme-color);
  color: var(--text-color); }

a {
  text-decoration: none;
  color: var(--text-color); }

h1 {
  color: var(--primary-color);
  font-weight: 800; }

h2 {
  color: var(--primary-text-color);
  font-weight: 400;
  font-style: italic; }

h3 {
  color: var(--prim); }

hr {
  border-top: 3px solid var(--primary-color);
  margin-right: 40px;
  margin-left: 10px; }

/*PARTIALS*/
/*Navbar*/
.topheader {
  box-shadow: 0 4px 5px var(--bg-color);
  background-color: var(--bg-color);
  width: 100%; }

.topnav {
  display: flex;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch; }

/* Logo */
.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-color); }

.logo img {
  border-radius: 50%; }

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 50%;
  z-index: 2;
  position: relative; }

.menu li {
  padding: 0 15px; }

.menu a {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  text-transform: uppercase; }

.open-menu,
.close-menu {
  display: none; }

.logotype {
  display: flex;
  justify-content: center; }

/*Footer*/
footer {
  background: var(--bg-color);
  padding: 10px 0px;
  border-top: 1px solid #e3e3e3;
  margin-top: 2vw;
  text-align: center;
  text-align: center;
  color: var(--text-color);
  font-weight: 400; }

.footer-down {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.footer-text {
  color: var(--text-color); }

footer a {
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid black;
  transition: all .5s ease; }

footer a:first-child {
  border-left: 1px solid black; }

footer a:hover {
  color: white; }

.footer-crono {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  color: var(--primary-text-color); }

.jumbo1 {
  background: var(--bg-color);
  border: blue 1px solid; }

.pocho-emp {
  font-size: 1rem;
  font-weight: 400;
  color: var(--primary-text-color); }

.pocho-text {
  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 800;
  font-style: italic; }

/*DARK MODE*/
body {
  background: var(--bg-color); }

input:checked + label {
  color: blue; }

label {
  display: flex;
  width: 75px;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  padding: 0 6px;
  background: #222;
  border-radius: 50px;
  cursor: pointer;
  position: relative; }

label i {
  font-size: 18px; }

label .fa-sun {
  color: gold;
  transition: 0.8s; }

label .fa-moon {
  color: #fff;
  transition: 0.8s; }

label .ball {
  display: none; }

input:checked + label .fa-sun {
  transform: translateX(43px); }

input:checked + label .fa-moon {
  transform: translateX(-43px); }

label .fa-sun {
  opacity: 1; }

input:checked + label .fa-sun {
  opacity: 0; }

label .fa-moon {
  opacity: 0; }

input:checked + label .fa-moon {
  opacity: 1; }

label .ball {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: 5px;
  left: 5px;
  background: #fff;
  border-radius: 50%;
  transition: 0.8s; }

input:checked + label .ball {
  transform: translateX(40px); }

label .fa-sun {
  transform: translateX(43px); }

input:checked + label .fa-sun {
  transform: translateX(0); }

label {
  transition: 0.3s; }

input:checked + label {
  background: #c0c0c0; }

input:checked + label .ball {
  background: #222; }

#switch {
  display: none; }

input:checked + label .fa-sun {
  transform: translateX(43px) rotate(160deg); }

label .fa-moon {
  transform: translateX(-43px) rotate(250deg); }

input:checked + label .fa-moon {
  transform: translateX(0), rotate(0); }

.content {
  color: var(--primary-text-color); }

.content p {
  color: var(--secondary-text-color); }

.dark-mode {
  --bg-color: #36101a;
  --primary-text-color: #fff;
  --secondary-text-color: #ddd; }

/*PAGES*/
/*INDEX*/
.cards * {
  box-sizing: border-box; }

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  padding-top: 30px;
  background-color: var(--bg-color); }

.card__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  width: auto;
  height: 100px;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333; }

.card__content {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  background-color: var(--bg-color);
  color: var(--primary-text-color); }

.card__content > p:first-of-type {
  margin-top: 0; }

.card__content > p:last-of-type {
  margin-bottom: 2vw; }

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: var(--bg-color);
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333; }

/*CARD 3*/
.noticia-3 {
  margin-top: 1vw; }

.noticia-3__image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  background: var(--bg-color); }

.noticia-3__content {
  line-height: 1.5;
  font-size: 2rem;
  font-weight: 400;
  padding: 15px;
  background: #fafafa;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333;
  background: var(--bg-color);
  color: var(--primary-text-color); }

.noticia-3__content > p:first-of-type {
  margin-top: 0; }

.noticia-3__content > p:last-of-type {
  margin-bottom: 0; }

.noticia-3__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: var(--bg-color);
  border-bottom: 2px solid #333333;
  border-right: 2px solid #333333;
  border-left: 2px solid #333333; }

/*Reviews*/
.staff-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(255, 0, 0, 0.2);
  margin-bottom: 1.6%;
  background: var(--bg-color);
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  /*MEDIA QUERY EXCLUSIVO TARJETA DE PRESENTACION*/ }
  .staff-card:hover .foto {
    transform: scale(1.3) rotate(3deg); }
  .staff-card .meta {
    position: relative;
    z-index: 0;
    height: 200px; }
  .staff-card .foto {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .2s; }
  .staff-card .details,
  .staff-card .details ul {
    margin: auto;
    padding: 0;
    list-style: none; }
  .staff-card .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(0, 0, 0, 0.6);
    color: var(--primary-text-color);
    padding: 10px;
    width: 100%;
    font-size: .9rem; }
    .staff-card .details a {
      text-decoration: dotted underline; }
    .staff-card .details ul li {
      display: inline-block; }
    .staff-card .details .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007"; }
    .staff-card .details .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133"; }
    .staff-card .details .tags ul:before {
      font-family: FontAwesome;
      content: "\f02b";
      margin-right: 10px; }
    .staff-card .details .tags li {
      margin-right: 2px; }
      .staff-card .details .tags li:first-child {
        margin-left: -4px; }
  .staff-card .descripcion {
    padding: 1rem;
    background: var(--bg-color);
    position: relative;
    z-index: 1; }
    .staff-card .descripcion h1,
    .staff-card .descripcion h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem; }
    .staff-card .descripcion h2 {
      font-size: 1rem;
      font-weight: 200;
      text-transform: uppercase;
      color: var(--secundary-color);
      margin-top: 5px; }
  .staff-card p {
    position: relative;
    margin: 1rem 0 0;
    color: var(--primary-text-color); }
    .staff-card p:first-of-type {
      margin-top: 1.25rem; }
      .staff-card p:first-of-type:before {
        content: "";
        position: absolute;
        height: 5px;
        background: var(--bg-color);
        width: 100px;
        top: -0.75rem;
        border-radius: 3px; }
  .staff-card #facebook-link {
    font-size: 20px;
    font-weight: 400;
    font-style: italic; }
  @media (min-width: 882px) {
    .staff-card {
      flex-direction: row;
      max-width: 700px; }
      .staff-card .meta {
        flex-basis: 40%;
        height: auto; }
      .staff-card .descripcion {
        flex-basis: 60%; }
        .staff-card .descripcion:before {
          transform: skewX(-3deg);
          content: "";
          background: var(--bg-color);
          width: 30px;
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          z-index: -1; }
      .staff-card.alt {
        flex-direction: row-reverse; }
        .staff-card.alt .descripcion:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg); }
        .staff-card.alt .details {
          padding-left: 25px; } }

/*Entretenimiento*/
#noticias {
  margin-top: 1vw; }

.noticias-text {
  color: var(--primary-text-color); }

/*CRONOGRAMA*/
#calendario {
  width: 100%;
  margin-bottom: 1vw; }

#calendario ul {
  list-style: none;
  padding-left: 100px;
  margin: 0;
  width: 100%; }

#calendario li {
  display: block;
  float: left;
  width: 15.350%;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin-right: -1px;
  margin-bottom: -1px;
  border: solid black; }

#calendario ul.weekdays {
  height: 40px;
  background: #52110dde; }

#calendario ul.weekdays li {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  border: none !important;
  padding: 10px 6px;
  color: var(--bg-color);
  font-size: 13px; }

#calendario .days li {
  height: 200px; }

#calendario .day-movie1 {
  background-image: url("../media/hotel.webp");
  background-position: 30% 12%; }

#calendario .day-movie2 {
  background-image: url("../media/dune2.webp");
  background-position: center; }

#calendario .day-movie3 {
  background-image: url("../media/007.webp");
  background-position: 70% 15%; }

#calendario .day-movie4 {
  background-image: url("../media/halloween.webp");
  background-position: 25% 15%; }

#calendario .day-movie5 {
  background-image: url("../media/eternals.webp");
  background-position: center; }

#calendario .day-movie6 {
  background-image: url("../media/gb.webp");
  background-position: 42% 05%; }

#calendario .day-movie7 {
  background-image: url("../media/top-gun.webp");
  background-position: 49% 60%; }

#calendario .day-movie8 {
  background-image: url("../media/encanto.webp");
  background-position: 49% 40%; }

#calendario .day-movie9 {
  background-image: url("../media/gucci.webp");
  background-position: 0.1% 35%; }

#calendario .day-movie10 {
  background-image: url("../media/rew.webp");
  background-position: 23% 35%; }

#calendario .day-movie11 {
  background-image: url("../media/west.webp");
  background-position: 32% 24%; }

#calendario .day-movie12 {
  background-image: url("../media/spider.webp");
  background-position: 52% 75%; }

#calendario .day-movie13 {
  background-image: url("../media/matrix.webp");
  background-position: 50% 35%; }

#calendario .day-movie14 {
  background-image: url("../media/kingsman.webp");
  background-position: center; }

#calendario .day-movie-navidad {
  background-image: url("../media/papanoel.webp");
  background-position: center; }

#calendario .day-none {
  background-color: var(--calendario-color); }

#calendario .days li:hover {
  background: var(--calendario-color); }

#calendario .event {
  clear: both;
  display: block;
  font-size: 20px;
  border-radius: 4px;
  padding: 5px;
  margin-top: 40px;
  margin-bottom: 5px;
  background: #e4f2f2;
  border: 1px solid #b5dbdc;
  color: #3f1818;
  text-decoration: none; }

#calendario .event-desc {
  color: black;
  font-weight: 400;
  font-style: italic;
  margin: 3px 0 7px 0;
  text-decoration: none; }

/*CONTACTO*/
.carousel {
  margin-bottom: 4rem;
  margin-top: 4rem;
  background: #F8F9FA; }

.carousel-inner img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill; }

.carousel-caption {
  color: #0a213b;
  font-size: 2rem;
  font-weight: 800; }

.carousel-item {
  height: 32rem; }

.header-carousel {
  font-size: 3rem;
  font-weight: 800;
  color: #2571c9; }

/*FORM*/
.form-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  background: var(--bg-color); }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: "karla", sans-serif; }

#contact {
  background: var(--bg-color);
  padding: 25px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary-text-color);
  box-shadow: 0 0 20px 0 var(--primary-color), 0 5px 5px 0 rgba(0, 0, 0, 0.24); }

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px; }

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400; }

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%; }

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px; }

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa; }

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none; }

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0f0f42;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact button[type="reset"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: var(--primary-color);
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px; }

#contact button[type="reset"]:hover {
  background: #9e0714;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out; }

#contact button[type="reset"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa; }

::-webkit-input-placeholder {
  color: #888; }

:-moz-placeholder {
  color: #888; }

::-moz-placeholder {
  color: #888; }

:-ms-input-placeholder {
  color: #888; }

.fof a {
  text-decoration: none;
  color: black;
  font-family: 'karla', serif;
  font-size: 2em;
  font-weight: 400; }

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center; }

.fof {
  display: table-cell;
  vertical-align: middle;
  font-size: 1em;
  color: #220b0f;
  margin: 0;
  background-image: url("../media/404.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type .5s alternate infinite; }

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #6e0f0f; }
  to {
    box-shadow: inset -3px 0px 0px transparent; } }

/*MEDIA QUERYS*/
@media (max-width: 376px) {
  /*MENU CON JS*/
  /* Menu */
  .topheader {
    margin-bottom: 3vw; }
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer; }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; } }

@media (max-width: 881px) {
  /*MENU CON JS*/
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--menu-mobile-background-color);
    height: 75%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s; }
  .menu li {
    padding: 0; }
  .menu a {
    color: var(--text-color-inverse);
    line-height: 60px; }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-text-color); }
  .close-menu {
    align-self: flex-end;
    padding: 20px 15px; }
  .menu_opened {
    opacity: 1;
    pointer-events: all; }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none; }
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4; }
  .noticia-3 {
    display: none; }
  .footer-down {
    margin-top: 2vw;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; } }

@media (max-width: 768px) {
  #calendario li {
    height: auto !important;
    border: 1px solid #ededed;
    width: 100%;
    padding: 10px;
    margin-bottom: -1px; }
  #calendario .date {
    float: none; }
  #calendario ul {
    padding: 0; }
  #calendario .day-movie1 {
    background-image: url("../media/hotel.webp");
    background-position: 30% 12%; }
  #calendario .day-movie2 {
    background-image: url("../media/dune2.webp");
    background-position: center; }
  #calendario .day-movie3 {
    background-image: url("../media/007.webp");
    background-position: center; }
  #calendario .day-movie4 {
    background-image: url("../media/halloween.webp");
    background-position: center; }
  #calendario .day-movie5 {
    background-image: url("../media/eternals.webp");
    background-position: center; }
  #calendario .day-movie6 {
    background-image: url("../media/gb.webp");
    background-position: center; }
  #calendario .day-movie7 {
    background-image: url("../media/top-gun.webp");
    background-position: 110% 15%; }
  #calendario .day-movie8 {
    background-image: url("../media/encanto.webp");
    background-position: 25% 35%; }
  #calendario .day-movie9 {
    background-image: url("../media/gucci.webp");
    background-position: center; }
  #calendario .day-movie10 {
    background-image: url("../media/rew.webp");
    background-position: center; }
  #calendario .day-movie11 {
    background-image: url("../media/west.webp");
    background-position: center; }
  #calendario .day-movie12 {
    background-image: url("../media/spider.webp");
    background-position: 45% 25%; }
  #calendario .day-movie13 {
    background-image: url("../media/matrix.webp");
    background-position: 25% 35%; }
  #calendario .day-movie14 {
    background-image: url("../media/kingsman.webp");
    background-position: 35% 15%; }
  #calendario .day-movie-navidad {
    background-image: url("../media/papanoel.webp");
    background-position: center; } }

@media (min-width: 882px) {
  .topnav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; } }

/*Calendario*/
@media (min-width: 1152px) {
  .topnav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }
  .noticia-3 {
    display: block !important; } }

.roto {
  display: none; }
