/*Footer*/
footer{
background: var(--bg-color);
    padding: 10px 0px;
    border-top: 1px solid #e3e3e3;
    margin-top: 2vw;
    text-align:center;
    text-align: center;
    color: var(--text-color);
    font-weight: 400;
  }
.footer-down {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    
}
.footer-text{
    color: var(--text-color) ;
}

  footer a {
    color: var(--primary-text-color);
    font-size: 20px;
    padding: 10px;
    border-right: 1px solid black;
    transition: all .5s ease;
  }
  footer a:first-child {
    border-left: 1px solid black;
  }
  footer a:hover {
    color: white;
  }


.footer-crono{
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  color: var(--primary-text-color);

}